No existe el libro Harry Potter en el sistema
---
Existen 3 ejemplares del libro Harry Potter
---
Existen 2 ejemplares del libro Harry Potter
---
Existen 1 ejemplares del libro Harry Potter
---
Existen 0 ejemplares del libro Harry Potter
---
No hay ejemplares
---
Existen 0 ejemplares del libro Harry Potter
---
------
