El libro Memorias de Idhún esta en el sistema
---
El libro The Passionate Programmer esta en el sistema
---
No existe el libro Libro Fantasma en el sistema
---
El libro Harry Potter esta en el sistema
---
El libro Harry Potter esta en el sistema
---
No hay ejemplares
---
No hay ejemplares
---
Libro no existente
---
------
