No existe el libro Harry Potter en el sistema
---
No existe el libro Memorias de Idhún en el sistema
---
El libro Harry Potter esta en el sistema
---
El libro Memorias de Idhún esta en el sistema
---
Existen 0 ejemplares del libro Harry Potter
---
Existen 2 ejemplares del libro Memorias de Idhún
---
El libro Harry Potter esta en el sistema
---
Existen 4 ejemplares del libro Harry Potter
---
------
